extends layouts/main

block content
    .video__player
        video(src=`/${video.fileUrl}`,controls=true)
    .video__info
        a(href=video.editVideo) Edit video
        h5.video__title=video.title
        span.video__videws=video.videws
        p.video__desscription=video.description